@charset "UTF-8";

/* Reset geral da página */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Configurações do Body e HTML */

body, html{
    height: 100vh;
    width: 100vw;
}

/* Colocando imagem de fundo */

body{
    background: url("../img/fundo_madeira.jpg") top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}   

section#celular{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 192px;
    height: 393px;
    transform: translate(-50%, -50%);
}

iframe#tela{
    position: relative;
    top: -350px;
    left: 12px;
    width: 167px;
    height: 298px;
}

section#redes_sociais{
    text-align: center;
}

section#redes_sociais img{
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 6px black;
    box-sizing: border-box;
}

section#redes_sociais img:hover{
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px black;
    transition: transform 0.5s;

}